.card-container {
  height: 20%;
  width: 100%;
  display: flex;
  background-color: white;
}

mat-card-header{
  color: black;
  font-weight: bold;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}
.card-actions {
  margin-left: 50%;
}

.profile-button{
  height: 50px;
  justify-content: center;
}

.profile-button {
  margin-left: 10px;
}



@media (max-width: 600px) {
  .card-actions-right {
    justify-content: center; /* Center align actions on small screens */
  }
}


.card-container {
  background-color: white; /* Ensure card background is set */
}

mat-card-title, mat-card-subtitle {
  color: black; /* Set the text color */
}

.card-actions button {
  justify-content: center;
  color: gray; /* Set button text color */
}
 .profile-button {
  border: 1px solid gray;
  color: gray;
   width: 200px;
   height: 50px;
   border-radius: 10px;
}

.dots-button {
  color: white;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
  margin:auto;

}

