.container{
  background:white!important;
}
.container-details{
  display: flex;
}

.container-animal{
  margin:20px;
  display: block;
}
.container-appointment{
  display: block;
  margin:20px;
}


mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.button-save{
  background-color: hotpink;
}

.button-back{
  background-color: hotpink;
  float: left;
}

mat-card {
  margin: 20px;
}

mat-list-item {
  border-bottom: 1px solid #e0e0e0;
}

h3 {
  margin: 0;
  font-size: 16px;
  color: black;
}

p {
  margin: 2px;
  font-size: 14px;
  color: darkgray;
}
