
<form *ngIf="appointmentForm" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Select Animal</mat-label>
    <mat-select formControlName="animal" placeholder="Choose an animal">
      <mat-option *ngFor="let animal of animals" [value]="animal">
        {{ animal }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select Date and Time</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date and time">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>



  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
