
.card-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: white;
  height: 100px;
  width: 350px;
}

.card-content-wrapper {
  display: flex;
}

.card-image {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.card-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


mat-card-title {
  margin-top: 10px;
  color: black;
  font-size: 12px;
}

mat-card-actions {
  color: hotpink;
}

mat-card-actions {
  margin-bottom: 10px !important;
}

button {
  height: 30px;
  background: hotpink;
  border-radius: 10px;
  margin-bottom: 5px;
}
