<mat-card class="card-container">
  <div class="card-content-wrapper">
    <div class="card-details">
      <mat-card-header class="card-header">
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-card-actions>
          <button mat-button>See More</button>
        </mat-card-actions>
      </mat-card-content>
    </div>
    <img class="card-image" ngSrc="{{imagePath}}" alt="Doctor" height="100" width="100">
  </div>
</mat-card>
