.appointment-card {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 280px;
  border-radius: 10px;
  background: white;
}

.dog-name {
  margin-left: 10px;
  color: black;
  font-weight: bold;
}

.doctor-name {
  margin-left: 10px;
  margin-top: 5px;
  color: black;
  font-weight: bold;
}

.status-indicator {
  align-self: center;
  width: 10%;
  height: 80px;
  border-radius: 10px 0 0 10px;
}

.created {
  background-color: deeppink;
}

.in-progress {
  background-color: grey;
}

.done {
  background-color: green;
}

.details {
  flex-grow: 1;
}

.time {
  display: flex;
}

.details-button {
  align-self: self-end;
  margin-right: 10px;
  width: 8%;
  border-radius: 10px;
}

.id {
  position: absolute;
  top: 0;
  margin-right: 10px;
  right: 10px;
  transform: translateY(50%);
  color: dodgerblue;
}

.status-indicator {
  display: flex;
  justify-content: center;
  align-items: center;

}

.status-icon {
  font-size: 25px;

}

.time-container {
  font-size: 13px;
  margin-top: 10px;
  display: flex;
}

.date{
  margin-left: 5px;
}

.cards {
  display: flex;

}
