.card-container {
  height: 120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: white;
}

mat-card-header {
  color: black;
  font-weight: bold;
}

img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}

.card-actions {
  margin-left: 50%;
}

.profile-button {
  height: 50px;
  justify-content: center;
  margin-left: 10px;

}


.card-container {
  background-color: white;
}

mat-card-title {
  color: black;
}

mat-card-subtitle {
  color: gray;
  font-size: 12px;
  display: flex;
}

p {
  margin-left: 30px;
}

.card-actions button {
  justify-content: center;
  color: gray;
}

.profile-button {
  border: 1px solid gray;
  color: gray;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.dots-button {
  color: white;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
}

@media (max-width: 1440px) {
  .card-actions {
    margin: 0 auto;
  }
}

@media (max-width: 765px) {
  img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  mat-card-title {
    font-size: 10px;
    color: black;
  }

  mat-card-subtitle {
    display: none;
  }

  mat-card-title {
    font-size: 8px;
  }


  .profile-button {
    height: 20px;
    width: 20px;
    font-size: 6px;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 50%;

  }

  .dots-button {
    height: 15px;
    margin-bottom: 50%;

  }

}

@media (max-width: 425px) {
  img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
  }

  mat-card-title {
    font-size: 8px;
    color: black;
  }

  mat-card-subtitle {
    display: none;
  }

  mat-card-title {
    font-size: 6px;
  }


  .profile-button {
    height: 15px;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 50%;

  }

  .dots-button {
    height: 15px;
    margin-bottom: 50%;

  }
}

@media (max-width: 375px) {
  img {
    border-radius: 50%;
    height: 15px;
    width: 15px;
  }

  mat-card-title {
    font-size: 6px;
    color: black;
  }

  mat-card-subtitle {
    font-size: 6px;

  }

  mat-card-title {
    font-size: 4px;
  }


  .profile-button {
    height: 10px;
    width: 20px;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 50%;
  }

  .dots-button {
    width: 20px;
    height: 10px;
    margin-bottom: 50%;

  }
}

@media (max-width: 230px) {
  img {
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  mat-card-title {
    font-size: 6px;
    color: black;
  }

  mat-card-subtitle {
    font-size: 6px;
    color: red;

  }

  mat-card-title {
    font-size: 4px;
  }

  mat-card-actions {
    margin-left: 0;
  }


  .profile-button {
    height: 10px;
    width: 15px;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 50%;

  }

  .dots-button {
    width: 5px;
    height: 10px;
    margin-bottom: 50%;

  }
}


@media (max-height: 450px) {
  .card-container {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: white;
  }

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  mat-card-title {
    color: black;
  }

  mat-card-subtitle {
    color: gray;
    font-size: 8px;
    display: flex;
  }


  .profile-button {
    height: 25px;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 50%;

  }

  .dots-button {
    height: 25px;
    margin-bottom: 50%;

  }
}
