.card-container {
  height: 20%;
  width: 100%;
  display: flex;
  background: gray;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}
.card-actions {
  margin-left: 50%;
}

.profile-button{
  height: 50px;
  justify-content: center;
}

.profile-button {
  margin-left: 10px;
}



@media (max-width: 600px) {
  .card-actions-right {
    justify-content: center; /* Center align actions on small screens */
  }
}
