<div class="container-all">
  <mat-form-field class="container-filter">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search Columns"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="container-table mat-elevation-z8 my-4">

    <ng-container matColumnDef="animal-name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Animal's name</th>
      <td mat-cell *matCellDef="let element">{{ element.animal.name }}</td>
    </ng-container>

    <ng-container matColumnDef="animal-species">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Animal's species</th>
      <td mat-cell *matCellDef="let element">{{ element.animal.species }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date.toLocaleDateString('ro-GB') }}</td>
    </ng-container>

    <ng-container matColumnDef="doctor-name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor's name</th>
      <td mat-cell *matCellDef="let element">{{ element.doctorName }}</td>
    </ng-container>

    <ng-container matColumnDef="diagnosis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnosis</th>
      <td mat-cell *matCellDef="let element">{{ element.diagnosis }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ StatusEnum[element.status] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons color="accent"></mat-paginator>
</div>
